<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="row row_navbar_current_user navbar-text ml-1"></div>
    <form class="form-inline" th:action="@{/logout}" method="post">
        <button class="btn btn-link text-white-50" type="submit">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-2 sidebar px-0 pt-3">
            <div class="sidebar-sticky">
                <ul class="nav nav-pills flex-column" id="linkTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin_table" role="tab"
                           aria-controls="admin_table" aria-selected="true">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="user-tab" data-toggle="tab" href="#user_table" role="tab"
                           aria-controls="user_table" aria-selected="false">User</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="tab-content active bg-light min-vh-100 col-lg-10 px-4">
            <div class="tab-pane active" id="admin_table" role="tabpanel" aria-labelledby="admin-tab">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h2">Admin panel</h1>
                </div>
                <div class="bd-example-snippet bd-code-snippet">
                    <div class="bd-example m-0 border-0">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users_table"
                                   role="tab" aria-controls="users_table" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="new_user-tab" data-toggle="tab" href="#new_user" role="tab"
                                   aria-controls="new_user" aria-selected="false">New User</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="users_table" role="tabpanel" aria-labelledby="users-tab">
                                <div class="card">
                                    <div class="card-header h5">All users</div>
                                    <div class="card-body">
                                        <table class="table table-striped table-sm">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody class="row_users_table">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                     aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form id="edit-form">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body m-auto col-6 text-center font-weight-bold">
                                                    <div class="form-group">
                                                        <label for="id_edit" class="col-form-label col-12 mt-n2 mb-n2">ID
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 id_edit"
                                                                   id="id_edit" name="id" value="" readonly>
                                                        </label>
                                                        <label for="name_edit"
                                                               class="col-form-label col-12 mt-1 mb-n2">First name
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 name_edit"
                                                                   id="name_edit" name="firstName" value="">
                                                        </label>
                                                        <label for="lastname_edit"
                                                               class="col-form-label col-12 mt-1 mb-n2">Last name
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 lastname_edit"
                                                                   id="lastname_edit" name="lastName" value="">
                                                        </label>
                                                        <label for="age_edit"
                                                               class="col-form-label col-12 mt-1 mb-n2">Age
                                                            <input type="number"
                                                                   class="form-control form-control-sm mb-1 age_edit"
                                                                   id="age_edit" name="age" value="">
                                                        </label>
                                                        <label for="username_edit"
                                                               class="col-form-label col-12 mt-1 mb-n2">Email
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 username_edit"
                                                                   id="username_edit" name="username" value="">
                                                        </label>
                                                        <label for="password_edit"
                                                               class="col-form-label col-12 mt-1 mb-n2">Password
                                                            <input type="password"
                                                                   class="form-control form-control-sm mb-1"
                                                                   id="password_edit" name="password">
                                                        </label>
                                                        <label for="roles_edit"
                                                               class="col-form-label col-12 mt-1 mb-n2">Role
                                                            <select multiple
                                                                    class="form-control form-control-sm mb-1 roles_edit"
                                                                    id="roles_edit" name="shortRoles" size="2">
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer edit_form_buttons">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-edit">Edit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form>
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body m-auto col-6 text-center font-weight-bold">
                                                    <div class="form-group">
                                                        <label for="id_delete"
                                                               class="col-form-label col-12 mt-m2 mb-n2">ID
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 id_delete"
                                                                   id="id_delete" value="" readonly>
                                                        </label>
                                                        <label for="name_delete"
                                                               class="col-form-label col-12 mt-1 mb-n2">First name
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 name_delete"
                                                                   id="name_delete" value="" readonly>
                                                        </label>
                                                        <label for="lastname_delete"
                                                               class="col-form-label col-12 mt-1 mb-n2">Last name
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 lastname_delete"
                                                                   id="lastname_delete" value="" readonly>
                                                        </label>
                                                        <label for="age_delete"
                                                               class="col-form-label col-12 mt-1 mb-n2">Age
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 age_delete"
                                                                   id="age_delete" value="" readonly>
                                                        </label>
                                                        <label for="username_delete"
                                                               class="col-form-label col-12 mt-1 mb-n2">Email
                                                            <input type="text"
                                                                   class="form-control form-control-sm mb-1 username_delete"
                                                                   id="username_delete" value="" readonly>
                                                        </label>
                                                        <label for="roles_delete"
                                                               class="col-form-label col-12 mt-1 mb-n2">Role
                                                            <select multiple
                                                                    class="form-control form-control-sm mb-1 roles_delete"
                                                                    id="roles_delete" size="2" disabled>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="modal-footer delete_form_buttons">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-delete">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="new_user" role="tabpanel" aria-labelledby="new_user-tab">
                                <div class="card add-card">
                                    <div class="card-header h5">Add new user</div>
                                    <div class="card-body m-auto col-4 text-center font-weight-bold">
                                        <form id="add-form">
                                            <div class="form-group">
                                                <label for="firstname" class="col-form-label col-12 mt-n2 mb-n2">First
                                                    name
                                                    <input type="text"
                                                           class="form-control form-control-sm mb-1 name_add"
                                                           id="firstname" name="firstName" placeholder="First name">
                                                </label>
                                                <label for="lastname" class="col-form-label col-12 mt-1 mb-n2">Last name
                                                    <input type="text"
                                                           class="form-control form-control-sm mb-1 lastname_add"
                                                           id="lastname" name="lastName" placeholder="Last name">
                                                </label>
                                                <label for="age" class="col-form-label col-12 mt-1 mb-n2">Age
                                                    <input type="number"
                                                           class="form-control form-control-sm mb-1 age_add"
                                                           id="age" name="age" placeholder="Age">
                                                </label>
                                                <label for="username" class="col-form-label col-12 mt-1 mb-n2">Email
                                                    <input type="email"
                                                           class="form-control form-control-sm mb-1 username_add"
                                                           id="username" name="username" placeholder="Email">
                                                </label>
                                                <label for="password" class="col-form-label col-12 mt-1 mb-n2">Password
                                                    <input type="password"
                                                           class="form-control form-control-sm mb-1 password_add"
                                                           id="password" name="password" placeholder="Password">
                                                </label>
                                                <label for="roles_add" class="col-form-label col-12 mt-1 mb-n2">Role
                                                    <select multiple class="form-control form-control-sm mb-1 roles_add"
                                                            id="roles_add" name="shortRoles" size="2">
                                                    </select>
                                                </label>
                                            </div>
                                            <button type="button" class="btn btn-success btn-lg btn-save">Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="user_table" role="tabpanel" aria-labelledby="user-tab">
                <div class="">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                        <h1 class="h2">User information-page</h1>
                    </div>
                    <div class="card">
                        <div class="card-header h5">About user</div>
                        <div class="card-body">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="row_user_table"></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    const API = "http://localhost:8080/api/admin";
    const user_navbar = document.querySelector(".row_navbar_current_user");
    const user_table = document.querySelector(".row_user_table");
    const users_table = document.querySelector(".row_users_table");
    const editBtn = document.querySelector(".edit_form_buttons");
    const deleteBtn = document.querySelector(".delete_form_buttons");
    const saveBtn = document.querySelector(".add-card");

    let editId;
    let deleteId;
    let AllRoles;

    getCurrentUser();
    getAllUsers();
    getAllRoles();


    $('#editModal').on('show.bs.modal', function (event) {
        document.getElementById("roles_edit").innerHTML = '';
        const button = $(event.relatedTarget);
        const userId = button.data('id');
        const modal = $(this);
        fetch(API + "/user/" + userId)
            .then((res) => res.json())
            .then((data) => {
                data.users.map((item) => {
                    modal.find('.id_edit').val(item.id);
                    editId = item.id;
                    modal.find('.name_edit').val(item.firstName);
                    modal.find('.lastname_edit').val(item.lastName);
                    modal.find('.age_edit').val(item.age);
                    modal.find('.username_edit').val(item.username);

                    let select = document.getElementById("roles_edit");
                    AllRoles.roles.forEach((text) => {
                        let option = new Option();
                        option.value = text.id;
                        option.text = text.name;
                        select.add(option);
                    })

                });
            });
    })

    $('#deleteModal').on('show.bs.modal', function (event) {
        document.getElementById("roles_delete").innerHTML = '';
        const button = $(event.relatedTarget);
        const userId = button.data('id');
        const modal = $(this);
        fetch(API + "/user/" + userId)
            .then((res) => res.json())
            .then((data) => {
                data.users.map((item) => {
                    modal.find('.id_delete').val(item.id);
                    deleteId = item.id;
                    modal.find('.name_delete').val(item.firstName);
                    modal.find('.lastname_delete').val(item.lastName);
                    modal.find('.age_delete').val(item.age);
                    modal.find('.username_delete').val(item.username);

                    let select = document.getElementById("roles_delete");
                    item.shortRoles.forEach((text) => {
                        let option = new Option(text);
                        select.add(option);
                    });

                });
            });
    })

    $('#new_user-tab').on('show.bs.tab', function () {
        document.getElementById("roles_add").innerHTML = '';
        let select = document.getElementById("roles_add");
        AllRoles.roles.forEach((text) => {
            let option = new Option();
            option.value = text.id;
            option.text = text.name;
            select.add(option);
        })

    })

    editBtn.addEventListener("click", (event) => {
        if (event.target.classList.contains("btn-edit")) {
            const formDataToJson = (data) => {
                const object = {};
                data.forEach((value, key) => {
                    if (!object.hasOwnProperty(key)) {
                        if (key === "shortRoles") {
                            object[key] = [value]
                        } else {
                            object[key] = value;
                        }
                    } else {
                        object[key].push(value);
                    }
                });
                return JSON.stringify(object);
            };
            const formElement = document.getElementById('edit-form');
            const jsonData = formDataToJson(new FormData(formElement));
            updateUser(editId, jsonData);
            $('#editModal').modal('hide');
        }
    })

    deleteBtn.addEventListener("click", (event) => {
        if (event.target.classList.contains("btn-delete")) {
            deleteUser(deleteId);
            $('#deleteModal').modal('hide');
        }
    })

    saveBtn.addEventListener("click", (event) => {
        if (event.target.classList.contains("btn-save")) {
            const formDataToJson = (data) => {
                const object = {};
                data.forEach((value, key) => {
                    if (!object.hasOwnProperty(key)) {
                        if (key === "shortRoles") {
                            object[key] = [value]
                        } else {
                            object[key] = value;
                        }
                    } else {
                        object[key].push(value);
                    }
                });
                return JSON.stringify(object);
            };
            const formElement = document.getElementById('add-form');
            const jsonData = formDataToJson(new FormData(formElement));
            addUser(jsonData);
            $('#users-tab').tab('show');
            formElement.reset();
        }
    })

    function getCurrentUser() {
        fetch(API + "/current_user")
            .then((res) => res.json())
            .then((data) => {
                let newCurrentUser = "";
                data.users.map((item) => {
                    return (newCurrentUser += `
                <div class="navbar-text d-inline text-white font-weight-bold h5">${item.username}</div>
                <div class="navbar-text d-inline text-left text-white font-weight-normal h5"> with roles: </div>
                <div class="navbar-text d-inline text-left text-white font-weight-normal h5">${item.shortRoles.join(' ')}</div>
                    `);
                });
                user_navbar.innerHTML = newCurrentUser;
                showCurrentUser(data);
            })
    }

    function showCurrentUser(user) {
        let newCurrentUserInfo = "";
        user.users.map((item) => {
            return (newCurrentUserInfo += `
                            <td height="50" class="align-middle">${item.id}</td>
                            <td class="align-middle">${item.firstName}</td>
                            <td class="align-middle">${item.lastName}</td>
                            <td class="align-middle">${item.age}</td>
                            <td class="align-middle">${item.username}</td>
                            <td class="align-middle">${item.shortRoles.join(' ')}</td>
                    `);
        });
        user_table.innerHTML = newCurrentUserInfo;
    }

    function getAllUsers() {
        let userTable = "";
        fetch(API + "/users")
            .then((res) => res.json())
            .then((data) => {
                data.users.map((item) => {
                    return (userTable += `
                        <tr class="user${item.id}">
                            <td height="50" class="align-middle user-id-row">${item.id}</td>
                            <td class="align-middle user-name-row">${item.firstName}</td>
                            <td class="align-middle user-lastname-row">${item.lastName}</td>
                            <td class="align-middle user-age-row">${item.age}</td>
                            <td class="align-middle user-username-row">${item.username}</td>
                            <td class="align-middle user-roles-row">${item.shortRoles.join(' ')}</td>
                            <td class="align-middle">
                                <button type="button" data-toggle="modal" data-target="#editModal"
                                class="btn btn-info btn-edit-row" data-id="${item.id}">Edit</button></td>
                            <td class="align-middle">
                                <button type="button" data-toggle="modal" data-target="#deleteModal"
                                class="btn btn-danger btn-delete-row" data-id="${item.id}">Delete</button></td>
                        </tr>
                    `);
                });
                users_table.innerHTML = userTable;
            });
    }

    function getAllRoles() {
        fetch(API + "/roles")
            .then((resRoles) => resRoles.json())
            .then((dataRoles) => {
                    AllRoles = dataRoles;
                }
            )
    }

    function deleteUser(id) {
        fetch(API + "/user/" + id, {
            method: "delete"
        })
            .then((res) => {
                if (res.ok) {
                    getAllUsers();
                }
            })
    }

    function updateUser(id, data) {
        fetch(API + "/user/" + id, {
            method: "put",
            body: data,
            headers: {
                "Content-Type": "application/json"
            },
        })
            .then(res => {
                if (res.ok) {
                    getAllUsers();
                }
            })
    }

    function addUser(data) {
        fetch(API + "/user", {
            method: "post",
            body: data,
            headers: {
                "Content-Type": "application/json"
            },
        })
            .then(res => {
                if (res.ok) {
                    getAllUsers();
                }
            })
    }
</script>
</body>
</html>