<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text"
          th:text="${#strings.concat(currentUser.getUsername(), ' with roles: ',
           #strings.arrayJoin(currentUser.getAuthorities(),' '))}">
    </span>
    <form class="form-inline" th:action="@{/logout}" method="post">
        <button class="btn btn-link text-secondary" type="submit">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-2 sidebar px-0">
            <div class="sidebar-sticky">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/admin}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user}">User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="bg-light min-vh-100 col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">Admin panel</h1>
            </div>
            <input type="button" value="Добавить" onclick="window.location.href = '/admin/create'">
            <div class="bd-example-snippet bd-code-snippet">
                <div class="bd-example m-0 border-0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">New User</a>
                        </li>
                    </ul>
                    <div class="card">
                        <div class="card-header">All users</div>
                        <div class="card-body">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>E-mail</th>
                                    <th>Логин</th>
                                    <th>Роли</th>
                                    <th>Изменение</th>
                                    <th>Удаление</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td><span th:text="${user.getId()}"></span></td>
                                    <td><span th:text="${user.getFirstName()}"></span></td>
                                    <td><span th:text="${user.getLastName()}"></span></td>
                                    <td><span th:text="${user.getEmail()}"></span></td>
                                    <td><span th:text="${user.getUsername()}"></span></td>
                                    <td><span th:text="${#strings.arrayJoin(user.getRoles(),' ')}"></span></td>
                                    <td><a data-toggle="modal" th:data-row="${user}"
                                           th:attr="data-target='#modal-editing'+${user.getId()}"
                                           class="btn btn-info active">Edit</a>
                                        <div th:fragment="modal" class="modal fade"
                                             th:id="'modal-editing'+${user.getId()}" tabindex="-1"
                                             role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-auto col-6 text-center font-weight-bold">
                                                        <form>
                                                            <div class="form-group">
                                                                <label th:for="'id_edit'+${user.getId()}"
                                                                       class="col-form-label">ID </label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'id_edit'+${user.getId()}"
                                                                       th:value="${user.getId()}" readonly>
                                                                <label th:for="'name_edit'+${user.getId()}"
                                                                       class="col-form-label">First name </label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'name_edit'+${user.getId()}"
                                                                       th:value="${user.getFirstName()}">
                                                                <label th:for="'lastname_edit'+${user.getId()}"
                                                                       class="col-form-label">Last name </label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'lastname_edit'+${user.getId()}"
                                                                       th:value="${user.getLastName()}">
                                                                <label th:for="'email_edit'+${user.getId()}"
                                                                       class="col-form-label">Email </label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'email_edit'+${user.getId()}"
                                                                       th:value="${user.getEmail()}">
                                                                <label th:for="'login_edit'+${user.getId()}"
                                                                       class="col-form-label">Login </label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'login_edit'+${user.getId()}"
                                                                       th:value="${user.getUsername()}">
                                                                <label th:for="'password_edit'+${user.getId()}"
                                                                       class="col-form-label">Password </label>
                                                                <input type="password" class="form-control"
                                                                       th:id="'password_edit'+${user.getId()}">
                                                                <label th:for="'roles_edit'+${user.getId()}"
                                                                       class="col-form-label">Role </label>
                                                                <select multiple class="form-control"
                                                                        th:id="'roles_edit'+${user.getId()}" size="2">
                                                                    <option selected
                                                                            th:each="role : ${user.getRoles()}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getName()}"></option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a type="submit" class="btn btn-primary"
                                                           th:href="@{/admin/update(id=${user.getId()})}"
                                                        >Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a data-toggle="modal" th:data-row="${user}"
                                           th:attr="data-target='#modal-warning'+${user.getId()}"
                                           class="btn btn-danger active">Delete</a>
                                        <div th:fragment="modal" class="modal fade"
                                             th:id="'modal-warning'+${user.getId()}" tabindex="-1"
                                             role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body m-auto col-6 text-center font-weight-bold">
                                                        <form>
                                                            <div class="form-group">
                                                                <label th:for="'id_delete'+${user.getId()}"
                                                                       class="col-form-label">ID</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'id_delete'+${user.getId()}"
                                                                       th:placeholder="${user.getId()}" readonly>
                                                                <label th:for="'name_delete'+${user.getId()}"
                                                                       class="col-form-label">First
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'name_delete'+${user.getId()}"
                                                                       th:placeholder="${user.getFirstName()}" readonly>
                                                                <label th:for="'lastname_delete'+${user.getId()}"
                                                                       class="col-form-label">Last
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'lastname_delete'+${user.getId()}"
                                                                       th:placeholder="${user.getLastName()}" readonly>
                                                                <label th:for="'email_delete'+${user.getId()}"
                                                                       class="col-form-label">Email</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'email_delete'+${user.getId()}"
                                                                       th:placeholder="${user.getEmail()}" readonly>
                                                                <label th:for="'login_delete'+${user.getId()}"
                                                                       class="col-form-label">Login</label>
                                                                <input type="text" class="form-control"
                                                                       th:id="'login_delete'+${user.getId()}"
                                                                       th:placeholder="${user.getUsername()}" readonly>
                                                                <label th:for="'roles_delete'+${user.getId()}"
                                                                       class="col-form-label">Role</label>
                                                                <select multiple class="form-control"
                                                                        th:id="'roles_delete'+${user.getId()}"
                                                                        size="2" disabled>
                                                                    <option th:each="role : ${user.getRoles()}"
                                                                            th:value="${role.getId()}"
                                                                            th:text="${role.getName()}"></option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a type="submit" class="btn btn-danger"
                                                           th:href="@{/admin/delete(id=${user.getId()})}"
                                                        >Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>