<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>E-mail</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Роли</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${user.getFirstName()}"></span></td>
        <td><span th:text="${user.getLastName()}"></span></td>
        <td><span th:text="${user.getEmail()}"></span></td>
        <td><span th:text="${user.getUsername()}"></span></td>
        <td><span th:text="${#strings.arrayJoin(user.getRoles(),' ')}"></span></td>
    </tr>
    </tbody>
</table>

<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>

</body>
</html>